<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.techvanka.memllo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.firebase.messaging.permission.RECEIVE" />
    <uses-permission android:name="com.google.firebase.DYNAMIC_LINKS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Memllo"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.FriendsChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FriendRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ChatingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CartShowActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ProductTrackActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ShopItemView"
            android:exported="false" />
        <activity
            android:name=".ui.GetMoneyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CreatorDashBoard"
            android:exported="false" />
        <activity
            android:name=".ui.ShareVideoView"
            android:exported="false" />
        <activity
            android:name=".ui.UploadVideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.EditProfile"
            android:exported="false" />
        <activity
            android:name=".ui.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="memllo.page.link"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CreateAccount"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>